@keyframes bounce {
  0%, 20%, 60%, 100% {
   -webkit-transform: translateY(0);
   transform: translateY(0);
  }
 
  40% {
   -webkit-transform: translateY(-20px);
   transform: translateY(-20px);
  }
 
  80% {
   -webkit-transform: translateY(-10px);
   transform: translateY(-10px);
  }
 }
html, body {
  height: 100%;;
}
body {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}
h1 {
  color: #ffffff;
  font-size: 64px;
  text-transform: uppercase;
  max-width: 849px;
  margin: 0 auto;
  line-height: 1.5;
}
h1 + p {
  color: #ffffff;
  text-transform: uppercase
}
h2 {
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #404149;
  margin-top: 106px;
}
.wrap {
  max-width: 1110px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.wrap-gray {
  background-color: #F7F7F7;
}
.bg {
  background-image: url(../img/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  height: 100vh;
  position: relative;
  z-index: -1;
}
.title {
  position: absolute;
  top: calc(50% - 124px - 75px);
  left: 0;
  right: 0;
}
.stat {
  text-align: center;
  display: flex;
  justify-content: space-between;
  max-width: 780px;
  margin: -150px auto 0;
  padding-top: 70px;
  padding-bottom: 35px;
}
.stat-item h2 {
  font-size: 72px;
  color: #F7654A;
  margin-top: 0px;
  margin-bottom: 22px;
}
.stat-item h3 {
  font-size: 36px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0px;
  margin-bottom: 11px;
}
.stat-item p {
  margin-top: 0;
  color: #999999;
}
.box-party {
  display: flex;
  justify-content: space-between ;
  align-items: flex-start;
  margin-top: 56px;
  margin-bottom: 85px;
}
.box-party>div {
  flex-basis: 31.5%;
  max-width: 31.5%;
}
.box-party img {
  width: 100%;
  transition: 0.3s;
}
.box-party img:hover {
  transform: scale(1.1);
  transition: 0.3s;
  box-shadow: 0px 0px 30px rgba(0,0,0,0.9);
}
.box-party h3 {
  position: relative;
  padding-top: 28px;
  margin-top: 43px;
  letter-spacing: 1.4px;
}
.box-party h3::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 55px;
  height: 6px;
  background-color: #F7654A;;
}
.contact {
  background-color: #F7654A;
  color: #ffffff;
  padding: 40px 0;
}
.box-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-contact h3 {
  font-size: 48px;
  letter-spacing: 2px;
  margin-top: 0;
  margin-bottom: 20px;
}
.box-contact p {
  font-size: 24px;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 0;
}
.box-contact button {
  border: none;
  background-color: #fff;
  padding: 15px 25px 15px 50px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.05em;
  color: #000000;
  outline: none;
  position: relative;
  transition: 0.5s;
}
.box-contact button::before {
  content: '';
  background-image: url(../img/mail-icon.svg);
  width: 18px;
  height: 14.4px;
  display: block;
  background-repeat: no-repeat;
  position: absolute;
  left: 20px;
}
.box-contact button:hover {
  background-color: #999999;
  border: 1px solid #fff;
  color: #fff;
  transition: 0.5s;
}
.box-contact button:active {
  background-color: #777777c0;
  border: 1px solid rgb(196, 196, 196);
}
.grid {
  text-align: center;
  display: grid;
  grid-template-areas: "a b c" "d e f" ;
  grid-gap: 28px;
  margin-top: 59px;
  margin-bottom: 147px;
}
.grid-item {
  background-color: #F7F7F7;
  padding: 56px 30px 36px;
  transition: 0.3s;
}
.grid-item:hover {
  transform: scale(1.1);
  transition: 0.3s;
  box-shadow: 0px 0px 30px rgba(0,0,0,0.9);
}
.grid-item h3 {
  line-height: 1.5;
  margin-top: 14px;
}
.grid-one {
  grid-area: a;
}
.grid-two {
  grid-area: b;
}
.grid-three {
  grid-area: c;
}
.grid-four {
  grid-area: d;
}
.grid-five {
  grid-area: e;
}
.grid-six {
  grid-area: f;
}
.grid-photo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid-photo-item {
  height: 100%;
  position: relative;
}
.grid-photo-item::before {
  content: '';
  background-color: rgba(99, 104, 141, 0.5);
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.grid-photo-item:hover::before {
  background-color: rgba(99, 104, 141, 0);
}
.grid-photo-item img {
  width: 100%;
  height: 100%;
}
.box-feedback {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 55px;
  margin-bottom: 123px;
}
.box-feedback>div {
  box-sizing: content-box;
  flex-basis: 31.5%;
  max-width: 31.5%;
}
.feedback {
  background-color:  #F7F7F7;
  color: #999999;
  font-size: 14px;
  line-height: 21px;
  font-family: 'Open Sans', sans-serif;
  padding: 31px 30px;
  margin-bottom: 31px;
}
.feedback::before {
  content: '';
  background-image: url(../img/bq.svg);
  display: block;
  background-repeat: no-repeat;
  width: 34px;
  height: 28px;
  margin-bottom: 21px;
}

.name {
  font-size: 21px;
  line-height: 31px;
  letter-spacing: 0.02em;
  color: #000000;
}
.footer-contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-align: center;
  margin-top: 61px;
}
.footer-contact>div {
  flex-basis: 24%;
  max-width: 24%;
}
.footer-contact img {
  transition: 0.5s;
}
.footer-contact>div:hover img{
  animation: bounce 1s;
}
.footer-contact h3 {
  font-size: 24px;
  color: #999999;
}
.footer-contact-info {
  list-style: none;
  padding-left: 0px;
  font-size: 24px;
  color: #000000;
  transition: 0.3s;
}
.footer-contact-info:hover {
  color: #F7654A;
}
.footer {
  background-color: #404149;
  padding: 30px 0px 28px;
  margin-top: 129px;
}
.box-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
.box-footer a {
  color: #F7654A;
  text-decoration: none;
  transition: 0.5s;
}
.box-footer a:hover {
  color: rgb(214, 62, 35);
  transition: 0.5s;
}
.box-footer a:active {
  color: rgba(175, 28, 2, 0.705);
}


@media (max-width: 920px) {
  .body {
    font-size: 16px;
  }
  .wrap {
    max-width: 600px;
  }
  h1 {
    font-size: 45px;
    max-width: 600px;
  }
  h2 {
    font-size: 25px;
    margin-top: 74px;
  }
  .title {
    top: calc(50% - 67px -75px);
  }
  .stat {
    max-width: 500px;
    margin: -106px auto 0;
    padding-top: 41px;
    padding-bottom: 35px;
  }
  .stat-item h2 {
    font-size: 50px;
    margin-bottom: 14px;
  }
  .stat-item h3 {
    font-size: 30px;
  }
  .box-party h3 {
    margin-top: 27px;
  }
  .box-contact h3 {
    font-size: 30px;
  }
  .box-contact p {
    font-size: 16px;
  }
  .grid {
    grid-gap: 13px;
    margin-top: 59px;
    margin-bottom: 91px;
  }
  .box-feedback {
    margin-top: 29px;
    margin-bottom: 123px;
    flex-wrap: wrap;
  }
  .box-feedback>div {
    flex-basis: 100%;
    max-width: 100%;
  }
  .feedback {
    margin-bottom: 20px;
  }
  .footer-contact {
    align-items: flex-start;
    margin-top: 61px;
    flex-wrap: wrap;
  }
  .footer-contact>div {
    flex-basis: 49%;
    max-width: 49%;
    margin-bottom: 20px;
  }
  .footer-contact h3, .footer-contact-info {
    font-size: 20px;
  }
  .footer-contact-info>li {
    margin-bottom: 5px;
  }
  .footer {
    margin-top: 32px;
  }
}
@media (max-width: 640px) {
  body {
    font-size: 14px;
  }
  .bg {
    height: initial;
    position: inherit;
    padding: 50px 0 150px;
  }
  .title {
    position: inherit;
    top: inherit;
    left: inherit;
    right: inherit;
  }
  .h1 {
    font-size: 30px;
    max-width: 400px;
  }
  .stat, .box-party, .box-footer {
    flex-wrap: wrap;
  }
  .stat-item {
    flex-basis: 49%;
    max-width: 49%;
  }
  .stat-item h2 {
    font-size: 40px;
  } 
  .box-party {
    margin-bottom: 46px;
  }
  .box-party>div {
    flex-basis: 100%;
    max-width: 100%;
    text-align: center;
  }
  .box-party img {
    width: 100%;
    max-width: 200px;
  }
  .box-party h3 {
    margin-top: 13px;
    padding-top: 18px;
    margin-bottom: 30px;
  }
  .box-party h3::before {
    right: 0;
    margin: 0 auto;
  }
  .grid {
    grid-template-areas: "a b" "c d" "e f";
  }
  .grid-photo {
    grid-template-columns: 1fr 1fr;
  }
  .contact {
    padding: 30px 0;
  }
  .box-contact h3 {
    font-size: 25px;
    margin-bottom: 13px;
  }
  .box-contact p, .footer-contact h3, .footer-contact-info {
    font-size: 14px;
  }
  .footer-contact img {
    max-width: 32px;
    width: 100%;
  }
  .box-footer {
    text-align: center;
    line-height: 1.5;
  }
  .box-footer>div {
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media(max-width: 500px) {
  .box-contact {
    flex-direction: column;
    text-align: center;
  }
  .box-contact p {
    margin-bottom: 20px;
  }
}
@media(max-width: 400px) {
  .grid {
    grid-template-areas: "a" "b" "c" "d" "e" "f";
  }
  .box-footer {
    font-size: 14px;
  }
}